<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
 xmlns:context="http://www.springframework.org/schema/context"  
 xmlns:p="http://www.springframework.org/schema/p"
 xmlns:mvc="http://www.springframework.org/schema/mvc"  
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
 xsi:schemaLocation="http://www.springframework.org/schema/beans  
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd  
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	
	<!-- 开启注解 -->
	<mvc:annotation-driven /> 
	
	<!-- 注解扫描，指定扫描包以及子包 -->
	<context:component-scan 
		base-package="com.sun.springmvc.example"></context:component-scan>
	
	<!-- 访问的静态资源位置，设置之后这些目录下的文件请求就不作为控制器进行处理了 -->
	<mvc:resources location="/img/" mapping="/img/**"/>  
	<mvc:resources location="/js/" mapping="/js/**"/>
	
	<!-- 配置视图解析器-->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 单独的视图控制器 -->
	<bean name="/hello/helloworld" class="com.sun.springmvc.example.hello.HelloWorldController" />
	
</beans>  